<div class="btn btn-success"><%= link_to "Add your own cocktail", new_cocktail_path %></div>
<div class="row">
  <% @cocktails.each do |cocktail| %>
    <%= render 'shared/card', cocktail: cocktail %>
  <% end %>
</div>

